/* Jaime Roselló Gómez */

.layout {
  margin: 10em auto;
  width: 30em;
  height: 30em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr repeat(2, 1fr) 2fr 1fr;
  top: 50%;
}

.caja {
  padding: 30px;
}

.bloque1 {
  grid-area: 1 / 1 / 2 / 2;
}

.bloque2 {
  grid-area: 2 / 1 / 3 / 3;
}

.bloque3 {
  grid-area: 1 / 2 / 2 / 4;
}

.bloque4 {
  grid-area: 2 / 3 / 3/ 4;
}

.bloque5 {
  grid-area: 3 / 1 / 4 / 4;
}

.bloque6 {
  grid-area: 4 / 1 / 5 / 2;
}

.bloque7 {
  grid-area: 4 / 2 / 5 / 3;
}

.bloque8 {
  grid-area: 4 / 3 / 5 / 4;
}

.bloque9 {
  grid-area: 5 / 1 / 6 / 4;
}

.amarilla {
  background-color: goldenrod;
}

.azul {
  background-color: royalblue;
}

.verde {
  background-color: forestgreen;
}

.olive {
  background-color: olivedrab;
}

.roja {
  background-color: red;
}