/* Jaime Roselló Gómez */

.layout {
  margin: 10em auto;
  width: 30em;
  height: 30em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1.5fr repeat(2, 1fr) 2fr 1fr;
  grid-template-areas: 
  "bloque1 bloque3 bloque3"
  "bloque2 bloque2 bloque4"
  "bloque5 bloque5 bloque5"
  "bloque6 bloque7 bloque8"
  "bloque9 bloque9 bloque9";
  top: 50%;
}

.caja {
  padding: 30px;
}

.bloque1 {
  grid-area: bloque1;
}

.bloque2 {
  grid-area: bloque2;
}

.bloque3 {
  grid-area: bloque3;
}

.bloque4 {
  grid-area: bloque4;
}

.bloque5 {
  grid-area: bloque5;
}

.bloque6 {
  grid-area: bloque6;
}

.bloque7 {
  grid-area: bloque7;
}

.bloque8 {
  grid-area: bloque8;
}

.bloque9 {
  grid-area: bloque9;
}

.amarilla {
  background-color: goldenrod;
}

.azul {
  background-color: royalblue;
}

.verde {
  background-color: forestgreen;
}

.olive {
  background-color: olivedrab;
}

.roja {
  background-color: red;
}